.channel-header {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 16px;
}

.channel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}




