.video-page {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 2.5%;
}

.video-main video { 
  max-width: 100%;
  width: 800px;
  height: auto;  
}

.video-info h1 {
  font-size: 1.8rem;
  width: 800px;
}

.video-author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.desc-toggle {
  background: none;
  color: #00aaff;
  border: none;
  padding: 0;
  margin-top: 0.25rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.desc-toggle:hover {
  text-decoration: underline;
}

.video-comments{
  max-width: 900px;
  width: 100%;
}

.comment-input {
  display: flex;
  gap: 8px;
}
.comment-input button {
  min-width: 100px;
}

.comment-input input {
  flex: 1;
}


