services:

  static_hosting:
    image: nginx
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./settings/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80

  couchdb:
    image: couchdb:3
    ports:
      - 5984:5984
    environment:
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    healthcheck:
      test: curl -f http://localhost:5984/_up || exit 1
      start_period: 10s
      start_interval: 2s

  accessible_couchdb:
    image: curlimages/curl
    entrypoint: ["/bin/sh","-c"]
    command:
      - |
        alias put="curl -X PUT -u '${COUCHDB_USER}:${COUCHDB_PASSWORD}'"
        put couchdb:5984/_node/nonode@nohost/_config/chttpd/enable_cors --data '"true"'
        put couchdb:5984/_node/nonode@nohost/_config/cors/origins --data '"*"'
        put couchdb:5984/greentube
        put couchdb:5984/greentube/_security --data '{"members":{"roles":[]},"admins":{"roles":["_admin"]}}'
    depends_on:
      couchdb:
        condition: service_healthy