services:

  frontend:
    image: nginx
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro
      - ./settings/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80

  couchdb:
    image: couchdb:3
    ports:
      - 5984:5984
    environment:
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    healthcheck:
      test: curl -f http://localhost:5984/_up || exit 1
      start_period: 10s
      start_interval: 2s

  setup_couchdb:
    image: curlimages/curl
    entrypoint: ["/bin/sh","-c"]
    volumes:
      - ./frontend/public/data/sample_data.json:/sample_data.json
    command:
      - |
        alias put="curl -X PUT -u '${COUCHDB_USER}:${COUCHDB_PASSWORD}'"
        alias post="curl -X POST -u '${COUCHDB_USER}:${COUCHDB_PASSWORD}'"
        put couchdb:5984/_node/nonode@nohost/_config/chttpd/enable_cors --data '"true"'
        put couchdb:5984/_node/nonode@nohost/_config/cors/origins --data '"*"'
        put couchdb:5984/greentube
        put couchdb:5984/greentube/_security --data '{"members":{"roles":[]},"admins":{"roles":["_admin"]}}'
        post couchdb:5984/greentube/_bulk_docs -H "Content-Type: application/json" -d @/sample_data.json
    depends_on:
      couchdb:
        condition: service_healthy

  index:
    image: curlimages/curl
    entrypoint: ["/bin/sh","-c"]
    volumes:
      - ./backend/src/db/indexes/:/indexes
    command:
      - |
        alias post_index="curl -X POST -u '${COUCHDB_USER}:${COUCHDB_PASSWORD}' http://couchdb:5984/greentube/_index -H 'Content-Type: application/json'"
        post_index -d @/indexes/videos/by_user.json
        post_index -d @/indexes/videos/by_views.json
        post_index -d @/indexes/users/by_subs.json
        post_index -d @/indexes/comments/by_video.json
        post_index -d @/indexes/generics/by_name.json
        post_index -d @/indexes/generics/by_date.json
    depends_on:
      setup_couchdb:
        condition: service_completed_successfully

  backend:
    build: ./backend
    ports:
      - 3000:3000
    environment:
    - NODE_ENV=prod
    - CHOKIDAR_USEPOLLING=true
    depends_on:
      - couchdb
