
.home-container {
  flex-direction: column;
  padding-top: 16px;       
}

.sort-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.videos-grid {
  flex-direction: column;
}

.video-row {
  display: flex; 
  gap: 20px;
  margin-bottom: 10px;
}

.see-more {
  display: block;
  margin: 20px auto;
}

