:root {
  --spacing: .5rem;
  --form-element-spacing-vertical: .25rem;
  --form-element-spacing-horizontal: .5rem;
  --font-size: .875rem;
}

button, input {
  font-size: var(--font-size);
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/**
TODO : 

.card

**/

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  justify-content: center;  
  padding-top: 56px;
}

a{
  text-decoration: inherit;
}

.btn {
  display: inline-block;       
  padding: 0.625em 1.25em;       
  font-size: 1rem;
  font-family: inherit;         
  font-weight: 500;
  color: white;               
  background-color: #2a885c;    
  border: none;                 
  border-radius: 6px;          
  cursor: pointer;             
  text-align: center;
  text-decoration: none;        
  user-select: none;         
  transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
  background-color: #216b49;
}

.btn:active {
  transform: scale(0.97);      
}

.btn:focus {
  outline: none;              
}


.text-black{
  color: black
}

.text-white{
  color: white
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
 */
