body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding-top: 56px;
}

a {
  text-decoration: inherit;
}

.btn {
  display: inline-block;
  padding: 0.625em 1.25em;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  color: white;
  font-weight: bold;
  background-color: #2a885c;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
  transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
  background-color: #216b49;
}

.btn:active {
  transform: scale(0.97);
}

.btn:focus {
  outline: none;
}

.input-text {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.circle-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  padding: 0;
}

.circle-lg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  padding: 0;
}

.circle-xl {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
  padding: 0;
}

.circle-xxl {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  justify-content: center;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  flex-direction: column;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: center;
}

.spacer-1 {
  height: 10px;
  flex-shrink: 0;
}

.spacer-2 {
  height: 20px;
  flex-shrink: 0;
}

.spacer-3 {
  height: 30px;
  flex-shrink: 0;
}

.spacer-4 {
  height: 40px;
  flex-shrink: 0;
}

.mx-1 {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-2 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx-3 {
  margin-right: 30px;
  margin-left: 30px;
}

.mx-4 {
  margin-right: 40px;
  margin-left: 40px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-center {
  text-align: center;
}

.border {
  border: 2px solid #444;
}

.rounded {
  border-radius: 16px;
}

.overflow-y-sm {
  overflow-y: auto;
  max-height: 300px;
}

.overflow-y-lg {
  overflow-y: auto;
  max-height: 600px;
}

.card-sm {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  padding: 0.75rem;
}

.card-md {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  padding: 1rem;
}

.card-lg {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  max-width: 900px;
  padding: 1.5rem;
}

.card-xl {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  max-width: 1200px;
  padding: 2rem;
}

.text-white{
  color: white
}