.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  background-color: white;
  padding: 0 16px;
  z-index: 1000;
  margin-bottom: 56px;
}

.header-left .logo {
  display: flex;
  gap: 8px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.header-left .logo img {
  height: 28px;
}

.header-center {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 600px;
}

.search-input {
  width: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-right: 0.5px solid #ccc;
  outline: none;
  font-size: 16px;
  background-color: white;
  color: black;
  box-shadow: 0 5px 20px #2a885c, 0 0 0 10px #ffffffeb;
}

.search-input:focus {
  border-color: #1a5539;
}

.search-btn {
  height: 36px;
  width: 80px;
  border: 1px solid #ccc;
  border-left: 0.5px solid #ccc;
  border-radius: 0 8px 8px 0;
  background-color: #f8f8f8;  
}

.search-btn:hover {
  background-color: #f0f0f0;
}
