name: GreenTubeWorkflow
on:
  push:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v5
      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: frontend/package-lock.json
      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install
      - name: Build frontend
        run: |
          cd frontend
          npm run build
      - name: Start frontend
        run: |
          docker compose up --detach
      - name: Wait for frontend
        uses: docker://greentube/wait-for-response:1
        with:
          url: http://localhost:80
      - name: Watch frontend initial payload
        run: curl --silent localhost
